<!DOCTYPE html>

<html>
<head>
    <title></title>

    <link href="~/Scripts/atalaWebDocumentViewer.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.8.14.min.js" type="text/javascript"></script>
    <script src="~/Scripts/atalaWebDocumentViewer.js" type="text/javascript"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">

    $(function () {
        try {
            // URL that points to our Web Document Viewer handler

            var serverUrl = '../../WebDocumentViewrHandler.ashx';

            // Initialize Web Viewing

            var viewer = new Atalasoft.Controls.WebDocumentViewer({
                parent: $('.atala-document-container'),
                toolbarparent: $('.atala-document-toolbar'),
                serverurl: serverUrl,
                allowannotations: true
            });

            // Initialize Thumbnail Viewer

            var thumbs = new Atalasoft.Controls.WebDocumentThumbnailer({
                parent: $('.atala-document-thumbnailer'),
                serverurl: serverUrl,

                // Note that specify relative URL to our

				// sample document on server here:

                //documenturl: '../../Invoice.pdf',
                viewer: viewer
            });
            
            // subscribe to error event to receive notification if something goes wrong.
            // https://atalasoft.github.io/web-document-viewer/Atalasoft.Controls.WebDocumentViewer.html#event:error
            thumbs.bind('error', function (event) {
                console.log('error');
                console.log(event.name);
                console.log(event.message);
            });

            // documentloaded is an informational event when document data was loaded and control initialized.
            // handling this event is alternative to passing callback to "openUrl" method.
            // note that page images are loaded independently. while pages aren't received image for the first time 
            // they have 'atala_page_loading'(viewer.domclasses.atala_page_loading through api) class.
            //https://atalasoft.github.io/web-document-viewer/Atalasoft.Controls.WebDocumentViewer.html#event:documentloaded
            thumbs.bind('documentloaded', function (event) {
                console.log('documentloaded');
                console.log(event);
            });

            thumbs.openUrl('~/Invoice.pdf');

        } catch (error) {
            alert('Thrown error: ' + error.description);
        }
    });
    </script>
</head>
<body>
    <h1>Document viewer finds the handler when page is in root</h1>
    <div>
        <div class="atala-document-toolbar" style="width: 1000px;"></div>
        <div class="atala-document-thumbnailer" style="width: 200px; height: 500px; float: left"></div>
        <div class="atala-document-container" style="width: 800px; height: 500px; float: left"></div>
    </div>
</body>
</html>
